@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body {

    background-color: #161616;
    color: #f3f3f3;

    font-family: 'Ubuntu Mono', monospace;

    text-align: center;

    margin-top: 15%;

}

.gh {

    text-decoration: none;
    color: #ff4848;

}

.gh:hover {

    text-shadow: #990000 2px 2px 5px;

}

.getstarted {

    text-decoration: none;
    text-transform: uppercase;
    background-color: #ff4848;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    color: #f3f3f3;

}

.getstarted:hover {

    box-shadow: #990000 2px 2px 5px inset;

}


.thisgh {

    position: relative;

    top: 35rem;

}
