@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu+Mono&display=swap');

body {

    background-color: #161616;
    color: #f3f3f3;

    font-family: 'Montserrat', sans-serif;

}

.code {

    font-family: 'Ubuntu Mono', monospace;

}

.writecodehere {

    background-color: #090909;
    border-radius: 5px;
    border-width: 1px;
    border-color: #454545;
    border-style: solid;
    padding: 15px;
    outline: none;

}

.output {

    background-color: #111111;
    border-radius: 5px;
    border-width: 1px;
    border-color: #454545;
    border-style: solid;
    padding: 15px;
    margin-top: 15px;

    overflow: hidden;
    overflow-y: hidden;

}

.toolbar {

    text-align: right;
    margin: 20px;

}

.input {

    outline: none;
    background-color: #111111;
    border-style: none;
    width: 75%;
    display: inline;
    font-size: inherit;

}

.run {

    text-transform: uppercase;
    font-size: medium;
    color: #f3f3f3;
    background-color: #3fcf35;
    border-style: none;
    cursor: pointer;
    border-radius: 5px;
    width: 25%;
    padding: 10px;
    font-family: inherit;

}

.share {

    text-transform: uppercase;
    font-size: medium;
    color: #f3f3f3;
    background-color: #3573cf;
    border-style: none;
    cursor: pointer;
    border-radius: 5px;
    width: 25%;
    padding: 10px;
    font-family: inherit;
    text-decoration: none;

}

.enterbtn {

    width: 15%;
    margin-left: 2%;
    border-style: none;
    border-radius: 5px;
    padding: 5px;
    font-family: inherit;
    font-size: inherit;
    color: #f3f3f3;
    background-color: #24bf7b;
    cursor: pointer;

}

.enterbtn:active {

    background-color: #1d9762;
    color: #3f3f3f;

}

#input {

    border-bottom-style: solid;
    border-bottom-color: #2f2f2f;
    border-bottom-width: 2px;

}

.disabled {

    cursor: not-allowed;

}

.run:active {

    color: #3f3f3f;
    background-color: #309e28;

}

.loading {

    cursor: progress;

}

.code.blue {

    color: #588fd1;

}

.code.red {

    color: #c56667;

}

.code.white {

    color: #ffffff;

}

.code.green {

    color: #24bf7b;

}

.code.lightblue {

    color: #2cafda;

}